.leaflet-container {
    height: 800px;
    width: 100%;
  }

.theBackground {
  background : linear-gradient(45deg, yellow,white,yellow,white,yellow,white);
}
.profileInfo {
  background-color: antiquewhite;
  /* background : linear-gradient(45deg,red,blue,yellow,orange,pink,purple); */
  font-family: 'Segoe UI', sans-serif;
}
.profileDescription {
  background-color: antiquewhite;
  font-family: 'Segoe UI', sans-serif;
}

  .profileContainer {
    display: grid;

    width: 100%;

    height: 95vh;

    grid-template-rows: 40% 60%; 
    grid-template-columns: 60% 40%; 
    grid-template-areas: "topImage topImage"
                          "description info";
  }

  .profileHeader{
    grid-area: topImage;

    text-align: center;
    
    /* height: 40vh; */
  }

  .profileDescription{
    grid-area: description;

    /* width: 50vw; */

    overflow: scroll;

  }

  .profileInfo{
    grid-area: info;
    /* width: 50vw; */
  }

  
  .profileImage{
    height: 100%;
  }